# Node & dependencies
/node_modules/
npm-debug.log
yarn-error.log

# Laravel general
/vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json

# Laravel storage & build
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

# Laravel alternate public paths
public_html/storage
public_html/hot

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# IDEs & tools
/.idea/
/.vscode/
/.nova/
/.fleet/
/.zed/

# Laravel 4 legacy
bootstrap/compiled.php
app/storage/
