# Node & dependencies
/node_modules/
# Node & dependencies
/node_modules/
npm-debug.log
yarn-error.log

# Laravel general
/vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json

# Laravel storage & build
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

# Laravel alternate public paths
public_html/storage
public_html/hot

# Homestead & Vagrant
# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# IDEs & tools
/.idea/
/.vscode/
/.nova/
/.fleet/
/.zed/

# Laravel 4 legacy
bootstrap/compiled.php
app/storage/
node_modules
database/schema/mysql-schema.sql
scripts/Sync-Fields.ps1
scripts/Create-Project-Fields-2.ps1
scripts/Create-Project-Fields-1.ps1
scripts/Create-Planning.ps1
scripts/Create-Milestones.ps1
scripts/Create-issues.ps1
